body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;

  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.container h1, 
.banners h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.catalog-item h3 {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.news h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.site-wrapper {
  min-width: 1200px;
  
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.container {
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px; 
  width: 1146px;
} 

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.main-header img {
  padding-top: 8px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
  margin-right: auto;
  padding-left: 14px;
}

.site-navigation li {
  padding-right: 8px;
}

.site-navigation a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 9px 10px;
}

.site-navigation,
.user-information,
.main-navigation-sub {
  list-style: none;
}

.site-navigation>a {
  font-weight: bold;
  line-height: 30px;
  padding: 9px 10px;
}

.underline {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
} 

.underline:hover {
  border-bottom: none;
}

.site-navigation .site-item:hover >a,
.user-navigation .search-link:hover >a,
.user-navigation .login-links:hover >a {
  color: #323232;
  background-color: #f7f6f3; 
  border-radius: 20px;
}

.site-item > a:active {
  box-shadow: 0 2px 2px 0 #696969 inset;
}

.site-navigation-current {
  background-color: #d07058;
  border-radius: 50px;
}

.site-navigation .site-item,
.site-navigation-current .site-item {
  position: relative;
}

.site-navigation  .site-item:hover .main-navigation-sub,
.item-catalog:focus .main-navigation-sub:hover {
  visibility: visible;
}

.site-navigation .main-navigation-sub{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 0;
  top: 34px;
  min-width: 143px;
  min-height: 171px;
  box-sizing: border-box;
  background-color: #f7f6f3;
  border-radius: 5px;
}

.site-navigation .main-navigation-sub::before {
  content: "";
  width: 143px;
  height: 5px;
  top: -5px;
  display: block;
  position: absolute;
  background-color: transparent; 
}  

.main-navigation-sub .main-navigation-title {
  padding: 13px 63px 14px 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-navigation-sub a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  padding-left: 20px;
}

.sub-item {
  min-height: 28px;
  padding-top: 5px;
}

.sub-item:last-child {
  padding-bottom: 5px;
}

.main-navigation-sub .sub-item:hover {
  background-color: #fbded7;
}

.main-navigation-sub .sub-item:active {
  background-color: #f6b5a5;
}

.main-navigation-sub .active {
  background-color: #d07058;
} 

.main-navigation-sub .active:hover  {
  color: #ffffff;
  background-color: #d07058;
}
.active-link{
  color: #ffffff;
}

.user-information {
  position: relative;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  width: 261px;
  justify-content: space-between;
  flex-wrap: wrap; 

  position: relative;
  z-index: 2;
}

.user-navigation>li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none; 
}

.search-link {
  position: relative;
}

.search-link-item {
  display: block;

  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  
  cursor: pointer;
}

.search-link .search-link-item {
  position: relative;

  width: 33px;
  height: 33px;

  background-position: 50% 50%;
  border-radius: 50%; 
}

.search-link-item svg {
  content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	top: 6px;
  left: 8px;

  fill: #ffffff;
}

a.search-link-item:hover svg,
.search-link:hover svg {
	fill: #000000;
}

.search-link-item:hover + .form-search {
   visibility: visible;
}

.search-link:hover .form-search {
  visibility: visible;
}

.search-link .form-search {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  background-color: #f8f7f4;
  border-radius: 5px;
  height: 80px;
  width: 340px;
  top: 36px;
  right: 0px;
  display: flex;
}

.search-link .form-search:hover {
  visibility: visible;
}

.search-link .form-search::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: -5px;
}

.form-search input[type="search"] {
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 0 10px;
  margin: auto;
  height: 40px;
  width: 310px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}

.login-links {
  position: relative;
}

.login-links .form-sign {
  visibility: hidden;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.form.form-sign:before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  top: -30px;
}

.login-email {
  display: flex;
  order: 0;
}

.login-links:hover .form-sign {
  visibility: visible;
}

.login-link:hover .form-sign {
  visibility: visible;
}

.login-link + .form-sign:hover {
  visibility: visible;
}

.login-links .login-link {
  border-radius: 15px;
  padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 18px;
	padding-left: 44px;
  
	position: relative;
  display: block;

  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  
  cursor: pointer;
  z-index: 2;
}

a.login-link:hover .login-image,
.login-links:hover .login-image {
  fill: #000000;
}

 .login-image {
  content: "";
	position: absolute;
	width: 21px;
	height: 19px;
	top: 6px;
  left: 17px;

  fill: #ffffff;
} 

.form-sign input[type="email"],
.form-sign input[type="password"] {
  border: 1px solid silver;
  border-radius: 5px;
  margin: 20px 0px 0px 18px;
  padding: 0px 15px; 
  height: 45px;
  width: 210px;
}

.login-enter {
  display: flex;
  justify-content: space-between;
  margin: 18px 20px 20px 20px;
  min-width: 240px;
}

.login-enter .button {
  padding: 10px 25px;
}

.login-hrefs > a:hover,
.login-hrefs > a:focus {
  color: #e84d37;
}

.basket-link-empty {
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border-radius: 16px;
  
  display: inline-block;
	padding-left: 43px; 
	padding-top: 8px;
	padding-bottom: 8px;
  width: 72px;

  position: relative;

  text-align: left;
}

 .basket-link-empty svg{
	content: "";
	position: absolute;
	width: 21px;
	height: 20px;
	top: 6px;
  left: 15px;
  
  fill: #ffffff;
}

a.basket-link-empty:hover svg,
.basket-link:hover svg {
	fill: #000000;
}

.login-link:hover,
.basket-link-empty:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.login-hrefs {
  width: 120px;
}

.login-hrefs a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.enter-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.working-information {
  position: absolute;
  top: 72px;
  right: 0;
  z-index: 1;

  width: 168px;

  text-align: right;
}

.working-information p {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

.working-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.working-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.slide {
  display: none;
} 

.slider {
  position: relative;

  padding-top: 270px;
  margin-bottom: 37px;

  text-align: center;
  color: #ffffff;
}

.slide-text {
  width: 700px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 50px;

  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.slide a {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}

.slide-btn {
  display: inline-block;
  
  padding: 12px 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.banners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 23px;
}

.banner-left {
   background-image: url("../img/raspberry.jpg");
   background-repeat: no-repeat;
   border-radius: 15px;

   
   height: 229px;
   width: 560px;

   position: relative;
   box-sizing: border-box;
   padding: 17px 21px 70px 19px;
}

.banner-right {
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;

  
  height: 229px;
  width: 560px;

  position: relative;
  box-sizing: border-box;
  padding: 17px 21px 70px 19px;
}

.banner-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;

  margin: 0;
}

.banner-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  
  margin-top: 15px; 
  margin-bottom: 22px;
}

 .banner-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  position: absolute;
  right: 23px;
  bottom: 23px;
  
  box-sizing: border-box;
  padding: 11px 21px 13px 20px;
}

.popular,
.catalog {
  width: 1146px;
	margin: 0 auto;
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
	
}

.catalog-item,
.catalog-items {
	width: 267px;
  position: relative;
  margin-bottom: 55px;
}

.item-hover {
  display:none;
}

.catalog-item:hover .item-hover,
.catalog-items:hover .item-hover {
	display: block;
	position: absolute;
	width: 294px;
	height: 405px;
	background-color: rgba(255, 255, 255, .2);
	top: -6px;
	right: -14px;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.catalog-item h3,
.catalog-items h3 {
  text-align: center;
  margin: 0;
  position: absolute;
	bottom: -35px;
}

.catalog-item .catalog-price,
.catalog-items .catalog-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item .catalog-item-price,
.catalog-items .catalog-item-price {
  position: absolute;
  bottom: 15px;
}

.catalog-price::after {
  content: "";
  position: absolute;
  background-image: url("../img/ruble.svg");
  width: 28px;
  height: 37px;
  bottom: 5px;
  right: 45px;
}

.catalog-weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 30px;
}

.catalog-item a,
.catalog-items a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-items a:hover,
.catalog-items a:focus,{
  color: #ffbc9e;
}

.catalog-item::before {
	content: "";
	position: absolute;
	background-image: url("../img/hit.svg");
	width: 61px;
  height: 61px;
  top: 17px;
}

.catalog-item-image img {
  border-radius: 135px;
}

.btn-red-catalog {
  position: absolute;
	bottom: 10px;
	right: 45px;
	padding: 10px 15px;
	border-radius: 30px;
	cursor: pointer;
  background-color: none;
  border: none;
}

.features {
	background-image: url("../img/waffle.jpg");
  width: 1146px;
	margin: 0 auto;
	border-radius: 15px;
	
  margin-bottom: 40px;
  padding-top: 4px;
}

.feature-info {
  color: #323232;
	font-size: 24px;
	font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.08px;
	
	margin-left: 20px;
	margin-top: 20px;
  margin-bottom: 23px; 
}

.features-items {
	list-style: none;
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-left: 0px;
	padding-right: 26px;
	padding-bottom: 2px;
}

.features-item {
	flex-basis: 552px;
	padding-left: 20px;
	padding-bottom: 23px;
  position: relative;
  box-sizing: border-box;
}

.features-item p {
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
	padding-left: 56px;
}

.features-item::before {
	content: "";
	position: absolute;
	background-image: url(../img/ice-cream.svg);
	width: 49px;
	height: 49px;
	top: -13px;
}

.features-item:nth-child(1)::before {
	background-image: url(../img/ice-cream.svg);
}

.features-item:nth-child(2)::before {
	background-image: url(../img/cow.svg);
	left: 17px;
}

.features-item:nth-child(3)::before {
	background-image: url(../img/eco.svg);
}

.features-item:nth-child(4)::before {
	background-image: url(../img/thermometer.svg);
	left: 17px;
}

.news-email {
  width: 1146px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 37px;
}

.email-list,
.news {
  box-sizing: border-box;
  width: 560px;
  height: 220px;
	border-radius: 15px;
	padding-left: 20px;
}

.news {
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
}

.news-title {
  color: #323232;
	font-size: 16px;
	font-weight: 500;
  line-height: 22px;
  
	margin: 0;
	margin-top: 24px;
	margin-bottom: 4px;
}

.news > h3 {
  margin: 0;
	width: 300px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.blog-title {
  color: #323232;
  text-decoration: underline;
}

.blog-title:hover,
.blog-title:focus {
  color: #e84d37;
}

.email-wrapper {
  background: #f8f7f4 url("../img/pattern.png");
  border-radius: 15px;
  position: relative;

  padding: 0;
	padding-left: 20px;
	padding-right: 20px;
} 

.email-list {
  padding: 6px;

  width: 560px;
  height: 220px;

  background-image: url(../img/bg-post.svg);
  background-repeat: no-repeat;

  border-radius: 15px;
}

.email-list-text {
  margin: 0;
	padding: 0;
  padding-top: 28px;
  padding-bottom: 36px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.email-list-item {
  padding-bottom: 36px;
	display: flex;
	justify-content: space-between;
}

.email-list-wrapper input[type="email"] {
  box-sizing: border-box;
  width: 368px;
	display: inline-block;
	height: 44px;
  padding: 14px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.email-list-button {
  box-sizing: border-box;
  padding: 10px 15px;
	border-radius: 30px;
}

.container-map {
  position: relative;
  height: 100%;
}

.map {
  position: relative;
  height: 430px;
}

.map-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.pin {
	position: absolute;
	top: 140px;
	left: 240px;
	z-index: 5;
}

.adress-block { 
  background-color: #fefefe;
  border-radius: 15px;
  padding-top: 15px;
  padding-left: 25px;

  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  width: 302px;

  position: absolute;
  right: 0;
  top: 62px;
}

.adress-block-item {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;

  width: 172px;
  margin-bottom: 3px;
}

.adress-block-item-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  display: block;
  width: 225px;
}

 .adress-block-phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;

  margin-top: 5px;
}

.adress-block-time {
  font-size: 14px;
  line-height: 22px;
  color: #323232;

  margin-top: -20px;
  margin-bottom: 20px;
}

.contacts-button {
  display: inline-block;
  width: 253px;
  text-align: center;

  padding: 12px 0;
	border-radius: 40px;
	margin-bottom: 30px;
	border: none;
	cursor: pointer;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 19px;
  
  padding-bottom: 23px;
  width: 1146px;
}

.footer-information a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social,
.footer-information ul {
  list-style: none;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-social-icons {
  padding-top: 18px;
  padding-left: 1px;
}

.social-button {
  position: relative;

  display: inline-block;
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  outline: none;
}

.social-button:hover,
.social-button:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-item {
   margin-right: 11px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-button-twitter::before {
  background-image: url("../img/twitter.svg");
}

.social-button-instagram::before {
  background-image: url("../img/instagram.svg");
}

.social-button-facebook::before {
  background-image: url("../img/fb.svg");
}

.social-button-vk::before {
  background-image: url("../img/vk.svg");
}

.social-button:hover::before,
.social-button:focus::before {
  opacity: 1;
}

.social-button:active::before {
  opacity: 0.8;
}

.footer-item {
  font-weight: 700;
}

.footer-information {
  width: 330px;
  margin-right: 13px;
  padding-top: 12px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-link {
  box-sizing: border-box;
  width: 165px;

  text-align: left;
}

.footer-heart {
  position: relative;
}

.footer-heart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 1px;
 

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer-link:nth-child(2n + 1) {
  padding-left: 22px;
}

.copyright-text {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.modal-content-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.form-item input {
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.form-item input:hover {
  border: 2px solid #c7c6c5;
}

.form-item input:focus {
  border: 2px solid #8fbdec;
}

.form-item input:valid {
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.button {
  /*padding: 11px 23px 11px 23px;*/
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(180deg, #f26843, #e74a35);
  border-radius: 50px;
  border: none;
}

.button:hover {
  background: linear-gradient(180deg, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px #ac1000;
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: 0 2px 2px 0 #ac1000 inset;
}

.copyright-link:hover,
.copyright-link:focus {
  color: #ffbc9e;
}

.footer-link a:hover,
.footer-link a:active {
  color: #ffbc9e;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

.copyright-text {
  margin: 0;
  order: 1;
}

.footer-copyright-logo {
  order: 0;
  width: 108px;
  height: 37px;
  margin-bottom: 4px;
  padding-top: 1px;
  padding-left: 2px;
}


.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%); */

  box-sizing: border-box;
  width: 477px;
  padding-left: 24px;
	padding-right: 24px;

	background-color: #f8f7f4;
	border-radius: 10px;
}

.modal-content-title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-content-close {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 20px;
	right: 16px;
  
	background-color: transparent;
  background-image: url(../img/cross-big.svg);
  
  font-size: 0;
  border: none;
	cursor: pointer;
}

.form-item p {
	margin: 0;
	padding: 0;
	margin-bottom: 22px;
  position: relative;
}

.modal-content input,
.modal-content textarea {
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  outline: none;
  color: #323232;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.user-navigation input:hover,
.modal-content input:hover,
.modal-content textarea:hover {
  box-shadow: inset 0 0 0 1px #c7c6c5;
  border-color: #c7c6c5;
}

.user-navigation input:focus,
.modal-content input:focus,
.modal-content textarea:focus {
  box-shadow: inset 0 0 0 1px #8fbdec;
  border-color: #8fbdec;
}

.form-item input {
	width: 267px;
	padding: 10px 14px;
}

.form-item textarea {
	width: 100%;
	height: 155px;
	padding-left: 14px;
  padding-top: 10px;
  
  box-sizing: border-box;
}

.modal-btn {
  float: right;
	padding: 10px 23px;
	border-radius: 30px;
	margin-bottom: 25px;
	cursor: pointer;
}


/* каталог */

.basket-link .basket-link-2 {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.basket-table {
  font-size:13px;
  line-height: 16px;
  font-weight: 400;
}

.basket-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.item-price {
  opacity: 0.5;
}

.basket-link-2 {
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border-radius: 16px;
  
  display: inline-block;
	padding-left: 43px; 
	padding-top: 8px;
	padding-bottom: 8px;
  width: 72px;

  position: relative;

  text-align: left;
}

 .basket-link-2::before {
	content: "";
	position: absolute;
	width: 21px;
	height: 20px;
	top: 6px;
  left: 15px;

  background-image: url("../img/basket-red.svg")
 }

 .basket-table {
   display: flex;
   flex-direction: column;
 }

 .basket-link table {
   border-bottom: 1px solid #cacac7;
 }

.basket-wrapper {
  box-sizing: border-box;

  background-color: #f8f7f4;
	padding-top: 17px;
	padding-left: 20px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
 }

 .basket-link:hover .basket-wrapper {
  visibility: visible;
}

.basket-link-2:hover .basket-wrapper {
  visibility: visible;
}

.basket-link-2 + .basket-wrapper:hover {
  visibility: visible;
}

.basket-link .basket-wrapper {
  visibility: hidden;
	display: block;
	position: absolute;
  right: 0px;
  top: 60px;
	padding: 5px;
	width: 550px;
} 

.basket-row-1,
.basket-row-2 {
  display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.bascet-cell-1 {
  margin-right: 6px;
}

.basket-row-1 .basket-cell-1 {
	padding-top: 14px;
}

.basket-row-2 .basket-cell-1 {
	padding-top: 14px;
}

.basket-cell-2 {
	margin-right: 9px;
}

.basket-cell-3 {
	width: 220px;
	margin-right: 28px;
}

.basket-row-1 .basket-cell-3 {
	padding-top: 16px;
}

.basket-cell-4 {
	margin-right: 12px;
}

.basket-cell-5 {
  
}

.basket-row-1 .basket-cell-4 {
	padding-top: 16px;
}

.basket-row-1 .basket-cell-5 {
  padding-top: 16px;
} 

.basket-row-2 .basket-cell-3,
.basket-row-2 .basket-cell-4,
.basket-row-2 .basket-cell-5 {
	padding-top: 10px
}

.basket-btn-delete {
  width: 11px;
	height: 11px;
	border: none;
	background-color: transparent;
	font-size: 0;
	background-image: url(../img/cross-small.svg);
  background-position: center;
	background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 8px;
}

.basket-price {
  text-align: right;
  margin-top: 15px;
	margin-bottom: 15px;
  margin-right: 15px;
}

.red-btn-basket {
  display: inline-block;
  margin-left: 355px;
  padding: 10px 14px;
	margin-right: 15px;
	border-radius: 40px;
	margin-bottom: 19px;
}

.breadcrumbs {
	display: flex;
	padding: 0;
	margin: 0;
	align-self: flex-start;
}

.breadcrumbs li {
  margin-top: 20px;
  margin-right: 21px;
	position: relative;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

.breadcrumbs li:not(:last-of-type)::after {
	content: "\00bb";
	position: absolute;
	color: #ffffff;
	left: 60px;
	font-weight: 400;
	font-size: 14px;
}

.page-title {
  margin-top: 5px;
  margin-bottom: 25px;
}

.filters {
	width: 1146px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.filter {
	display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border: none;
  margin: 0;
  padding: 0;
}

.filters fieldset {
  border: none;
}

.filters-sort legend {
  display: inline-block;
	margin-bottom: 4px;
  padding-left: 16px;
  border: none;
}

.filters-sort { 
  box-sizing: border-box;
  width: 193px;
  padding: 9px 16px 9px;
}

.container .titles,
.filters .titles {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  list-style: none;
}

.filters .titles  {
  font-weight: 500;
}

.sort-option,
.filter-option {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #9db1a5; 
}

.filters-sort,
.filters-price,
.filters-fat,
.filters-fillers {
  background-color: #9db1a5;
  border-radius: 15px;
}

.sort-option:hover,
.filters-sort:hover {
  /*background-color: #ffffff; */
  color: #323232;
}

.fillers,
.fat {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  list-style:none;
}

.fat {
  width: 415px;
  padding: 9px 15px 9px 4px;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: #a6b7ae;
  border-radius: 50px;
  border: 2px solid #ffffff;

  box-sizing: border-box;
  width: 144px;
  margin-top: 22px;
  padding: 9px 29px 9px 29px;
}

.filter-button:hover {
  background-color: #fbfcfb;
  color: #323232;
}

.filter-button:active {
  background-color: #eaeaea;
  border: none;
  box-shadow: 0 2px 2px 0 #696969 inset;
}

.catalog {
	width: 1146px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
  flex-wrap: wrap;
}

.catalog-item {
	width: 267px;
	position: relative;
	margin-bottom: 35px;
}

.pagination-list {
  display: flex;
	justify-content: flex-end;
	width: 1146px;
  margin: 0 auto;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  list-style: none;
}

.pagination-list a {
  display: block;
	padding: 4px 8px;
	border-radius: 50%;
}

.pagination-item a:hover {
  background-color: #9db1a5;
  border-radius: 50px;
}

.pagination-item a:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50px;
}

.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50px;
}

.pagination-item-current a:hover {
  background-color: #ffffff;
}


