body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;

  background-color: #849d8f;
}

.container h1, 
.banners h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.catalog-item h3 {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.news h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

a {
  text-decoration: none;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.site-navigation,
.user-information,
.main-navigation-sub {
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation-title a:hover,
.site-navigation-title a:focus {
  color: #333333;
  background-color: #ffffff;
}

/*.main-navigation-sub {
  background-color: #ffffff;
}*/

.main-navigation-title,
.main-navigation-sub a{
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.main-navigation-sub a:hover {
  background-color: #fbded7;
}

.main-navigation-sub a:focus {
  background-color: #f6b5a5;
}
.user-information a:hover,
.user-information a:focus {
  color: #323232;
}

.form-search input,
.form-login input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.login-hrefs a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.working-time {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.working-phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.slide-text {
  font-size: 60px;
  line-height: 60,35px;
  color: #ffffff;
}

.slide a {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.banner-left {
   background-image: url("img/raspberry.jpg");
   background-repeat: no-repeat;
}

.banner-right {
  background-image: url("img/chocolate.jpg");
}

.banner-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.banner-text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.catalog-price {
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.catalog-weight {
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: underline;
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #ffbc9e;
}

.feature-info {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.features-text {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.news-title {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog-title a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.blog-title a:hover,
.blog-title a:focus {
  color: #e84d37;
}

.email-list-text {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.email-list-wrapper input {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.adress-block-item {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.adress-block-item-bold {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.adress-block-phone {
  font-size: 18px;
  line-height: 22px;
  color: #323232;
}

.adress-block-time {
  font-size: 14px;
  line-height: 22px;
  color: #323232;
}

.footer-information a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.footer-social ul,
.footer-information ul {
  list-style: none;
}

.copyright-text {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.copyright-text a {
  text-decoration: underline;
}

.modal-content-title {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.form-item input {
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.form-item input:hover {
  border: 2px solid #c7c6c5;
}

.form-item input:focus {
  border: 2px solid #8fbdec;
}

.form-item input:valid {
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.button {
  font-size: 18px;
  line-height: 24px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-color: #e84d37;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #e84d37;
}



